---
layout: null
---
:root {
    --navbar-col-dark: {{ site.colors.dark.navbar-col}};
    --navbar-text-col-dark: {{ site.colors.dark.navbar-text-col}};
    --navbar-border-col-dark: {{ site.colors.dark.navbar-border-col}};
    --page-col-dark: {{ site.colors.dark.page-col}};
    --text-col-dark: {{ site.colors.dark.text-col}};
    --link-col-dark: {{ site.colors.dark.link-col}};
    --hover-col-dark: {{ site.colors.dark.hover-col}};
    --footer-col-dark: {{ site.colors.dark.footer-col}};
    --footer-text-col-dark: {{ site.colors.dark.footer-text-col}};
    --footer-link-col-dark: {{ site.colors.dark.footer-link-col}};
    --footer-hover-col-dark: {{ site.colors.dark.footer-hover-col}};

    --shadow-col-dark: #000000A0;

    --navbar-col-light: {{ site.colors.light.navbar-col}};
    --navbar-text-col-light: {{ site.colors.light.navbar-text-col}};
    --navbar-border-col-light: {{ site.colors.light.navbar-border-col}};
    --page-col-light: {{ site.colors.light.page-col}};
    --text-col-light: {{ site.colors.light.text-col}};
    --link-col-light: {{ site.colors.light.link-col}};
    --hover-col-light: {{ site.colors.light.hover-col}};
    --footer-col-light: {{ site.colors.light.footer-col}};
    --footer-text-col-light: {{ site.colors.light.footer-text-col}};
    --footer-link-col-light: {{ site.colors.light.footer-link-col}};
    --footer-hover-col-light: {{ site.colors.light.footer-hover-col}};


    --shadow-col-light: #0c341576;

    /*{% if site.round-avatar %}*/
    --avatar-radius: %50%;
    /*{% else %}*/
    --avatar-radius: 0;
    /*{% endif %}*/
}
:root {
    --navbar-col: var(--navbar-col-light);
    --navbar-text-col: var(--navbar-text-col-light);
    --navbar-border-col: var(--navbar-border-col-light);
    --page-col: var(--page-col-light);
    --text-col: var(--text-col-light);
    --link-col: var(--link-col-light);
    --hover-col: var(--hover-col-light);
    --footer-col: var(--footer-col-light);
    --footer-text-col: var(--footer-text-col-light);
    --footer-link-col: var(--footer-link-col-light);
    --footer-hover-col: var(--footer-hover-col-light);

    --shadow-col: var(--shadow-col-light);
    color-scheme: light;
}

@media(prefers-color-scheme: dark) {
    :root {
        --navbar-col: var(--navbar-col-dark);
        --navbar-text-col: var(--navbar-text-col-dark);
        --navbar-border-col: var(--navbar-border-col-dark);
        --page-col: var(--page-col-dark);
        --text-col: var(--text-col-dark);
        --link-col: var(--link-col-dark);
        --hover-col: var(--hover-col-dark);
        --footer-col: var(--footer-col-dark);
        --footer-text-col: var(--footer-text-col-dark);
        --footer-link-col: var(--footer-link-col-dark);
        --footer-hover-col: var(--footer-hover-col-dark);

        --shadow-col: var(--shadow-col-dark);
        color-scheme: dark;
    }
}
